<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="ani()">测试</button>
    <div id="doc" style="height: 200px;width: 150px;background-color: #d6e9c6;outline: 1px solid blue;float: left";>AAA </div>
</body>

<script>
    function ani() {
        var div = document.getElementById(`doc`);
        x = div.style.height;
        alert(x)
        if (x=='0px'){
            div.style.height='200px'
        }else {
            div.style.height="0"
        }
    }
</script>
</html>